@model List<WebLapTop.Models.CartItem>

<br />
@if (Model.Count > 0)
{
    int num = 1;        // số thứ tự
    int amount = 0;     // thành tiền
    int total = 0;      // tổng tiền

<table class="table" style="width: 90%; margin-left: 85px;">
    @foreach (var i in Model)
    {
        if (i.Sanpham.GiaKhuyenMai > 0)
        {
            <tr>
                <th>STT</th>
                <th>Hình ảnh</th>
                <th style="width:500px">Sản phẩm</th>
                <th>Giá bán</th>
                <th>Giá khuyến mãi</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>

            amount = i.Sanpham.GiaKhuyenMai * i.Quantity;
            total += amount;
            <tr class="align-middle">
                <td>@(num++)</td>
                <td>
                    <img src="~/images/@(i.Sanpham.AnhSanPham)" class="img-thumbnail" width="50" />

                </td>
                <td>@(i.Sanpham.TenSanPham)</td>
                <td>@((i.Sanpham.GiaBan).ToString("n0"))</td>
                <td>@((i.Sanpham.GiaKhuyenMai).ToString("n0"))</td>
                <td>
                    <form asp-action="UpdateItem" method="post">
                        <div class="row">
                            <div class="col" style="width: 28%;">
                                <input name="id" type="hidden" asp-for="@(i.Sanpham.Id)" />
                                <input name="quantity" type="number" asp-for="@(i.Quantity)" class="form-control" />
                                <div class="col">
                                    <input class="btn btn-warning" type="submit" value="Cập nhật" />
                                </div>
                            </div>

                        </div>
                    </form>
                </td>
                <td>@(amount.ToString("n0"))</td>
                <td><a asp-action="RemoveItem" asp-route-id="@i.Sanpham.Id" class="text-danger"><i class="fa fa-trash"></i></a></td>
            </tr>
        }
        else
        {
            <tr>
                <th>STT</th>
                <th>Hình ảnh</th>
                <th style="width:500px">Sản phẩm</th>
                <th>Giá bán</th>
         
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>

            amount = i.Sanpham.GiaBan * i.Quantity;
            total += amount;
            <tr class="align-middle">
                <td>@(num++)</td>
                <td>
                    <img src="~/images/@(i.Sanpham.AnhSanPham)" class="img-thumbnail" width="50" />

                </td>
                <td>@(i.Sanpham.TenSanPham)</td>
                <td>@((i.Sanpham.GiaBan).ToString("n0"))</td>
               
                <td>
                    <form asp-action="UpdateItem" method="post">
                        <div class="row">
                            <div class="col" style="width: 28%;">
                                <input name="id" type="hidden" asp-for="@(i.Sanpham.Id)" />
                                <input name="quantity" type="number" asp-for="@(i.Quantity)" class="form-control" />
                                <div class="col">
                                    <input class="btn btn-warning" type="submit" value="Cập nhật" />
                                </div>
                            </div>

                        </div>
                    </form>
                </td>
                <td>@(amount.ToString("n0"))</td>
                <td><a asp-action="RemoveItem" asp-route-id="@i.Sanpham.Id" class="text-danger"><i class="fa fa-trash"></i></a></td>
            </tr>
        }
    }
    <tr>
        <td colspan="4" class="text-end" style="text-align: right;">Tổng tiền:</td>
        <td colspan="2"><strong class="text-danger">@(total.ToString("n0"))</strong></td>
    </tr>
</table>
    <div class="text-end" style="padding-bottom: 20px; margin-left: 180px;">
        <a class="btn btn-info" asp-action="CheckOut">Thanh toán</a>
    </div>

    <div class="text-end" style="padding-bottom: 20px; margin-left: 1300px;">
        <a class="btn btn-info" asp-controller="SanPham" asp-action="Index" style="text-decoration:none">Mua tiếp</a>
    </div>
}
else
{
    <p class="alert alert-danger">Giỏ hàng rỗng!</p>
}
@await Component.InvokeAsync("Notyf")


