@model List<WebLapTop.Models.CartItem>
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @using Microsoft.AspNetCore.Http
            <form asp-action="CreateBill">             
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h4 class="title" style="font-weight:initial">Địa chỉ thanh toán của:<strong style="color:black"> @Context.Session.GetString("_HoVaTen").ToString()</strong></h4>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="cusname" placeholder="First Name" value="@Context.Session.GetString("_HoVaTen")">
                        </div>
                        <div class="form-group">
                            <label for="streetaddress">Street Address</label>
                            <select id="provinces" name="tinh">
                                <option hidden disabled selected value="Thảo Đẹp Gái">Vui Lòng Chọn Tỉnh/Thành</option>
                            </select>
                            <select id="districts" name="huyen">
                                <option hidden disabled selected value="Thảo Cute">Vui Lòng Chọn Quận/Huyện</option>

                            </select>
                            <select id="wards" name="xa">
                                <option hidden disabled selected value="Thảo Dễ Thương">Vui Lòng Chọn Xã/Thị Trấn</option>
                            </select>
                            <div class="form-group">
                                <input type="text" name="cusadd" class="form-control" placeholder="Ấp/xã/Số nhà">
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="input" type="tel" name="cusphone" placeholder="Số điện thoại" required>
                        </div>

                    </div>


                    <!-- /Billing Details -->
                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title">Địa chỉ giao hàng</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Gửi đến một địa chỉ khác?
                            </label>
                            <div class="caption">

                                <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="First Name" value="@Context.Session.GetString("_HoVaTen")">
                                </div>

                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="streetaddress">Street Address</label>
                                        <select id="provinces" name="tinh">
                                            <option hidden disabled selected value="Thảo Đẹp Gái">Vui Lòng Chọn Tỉnh/Thành</option>
                                        </select>
                                        <select id="districts" name="huyen">
                                            <option hidden disabled selected value="Thảo Cute">Vui Lòng Chọn Quận/Huyện</option>

                                        </select>
                                        <select id="wards" name="xa">
                                            <option hidden disabled selected value="Thảo Dễ Thương">Vui Lòng Chọn Xã/Thị Trấn</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="cusadd" class="form-control" placeholder="Ấp/xã/Số nhà">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input class="input" type="tel" name="SoDienThoai" placeholder="Telephone">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /Shiping Details -->
                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Order Notes"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>


                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">ĐƠN HÀNG CỦA BẠN</h3>
                    </div>
                    <div class="order-summary">
                        @if (Model.Count > 0)
                        {


                            int amount = 0;
                            int total = 0;

                            <div class="order-col">
                                <div><strong>Ảnh sản phẩm</strong></div>
                                <div style="padding-left: 30px;"><strong>SL & Tên sản phẩm </strong></div>
                                <div><strong>Thành tiền</strong></div>
                            </div>
                            @foreach (var i in Model)
                            {
                                @if (i.Sanpham.GiaKhuyenMai > 0)
                                {
                                    amount = i.Sanpham.GiaKhuyenMai * i.Quantity;
                                    total += amount;
                                    <div class="order-products">
                                        <div class="order-col">
                                            <div><img src="~/images/@(i.Sanpham.AnhSanPham)" class="img-thumbnail" width="50" /></div>
                                            <div style="padding-left: 95px;">@(i.Quantity)x @(i.Sanpham.TenSanPham)</div>
                                            <div>@((i.Sanpham.GiaKhuyenMai * i.Quantity).ToString("n0"))</div>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    amount = i.Sanpham.GiaBan * i.Quantity;
                                    total += amount;
                                    <div class="order-products">
                                        <div class="order-col">
                                            <div><img src="~/images/@(i.Sanpham.AnhSanPham)" class="img-thumbnail" width="50" /></div>
                                            <div style="padding-left: 95px;">@(i.Quantity)x @(i.Sanpham.TenSanPham)</div>
                                            <div>@((i.Sanpham.GiaBan*i.Quantity).ToString("n0"))</div>
                                        </div>

                                    </div>
                                }
                            }
                            <div class="order-col">
                                <div>Shiping</div>
                                <div><strong>FREE</strong></div>
                            </div>
                            <div class="order-col">
                                <div><strong>TỔNG TIỀN</strong></div>
                                <div><strong class="order-total">@(total.ToString("n0"))</strong></div>
                            </div>

                            <input class="primary-btn order-submit" type="submit" style=" float: right;" value="Xác nhận đơn hàng" />
                        }
                    </div>

                </div>
            </form>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script>fetch("https://provinces.open-api.vn/api/").then(e => e.json()).then(e => { e.forEach(e => { let t = document.createElement("option"); t.value = e.name, t.innerHTML = e.name, t.setAttribute("data-code", e.code), document.getElementById("provinces").appendChild(t) }) }).catch(e => console.log(e)), document.getElementById("provinces").addEventListener("change", function () { let e = this.options[this.selectedIndex].getAttribute("data-code"); console.log(e), fetch(`https://provinces.open-api.vn/api/p/${e}?depth=2`).then(e => e.json()).then(e => { e.districts.forEach(e => { let t = document.createElement("option"); t.value = e.name, t.innerHTML = e.name, t.setAttribute("data-code", e.code), document.getElementById("districts").appendChild(t) }) }).catch(e => console.log(e)) }), document.getElementById("districts").addEventListener("change", function () { let e = this.options[this.selectedIndex].getAttribute("data-code"); fetch(`https://provinces.open-api.vn/api/d/${e}?depth=2`).then(e => e.json()).then(e => { e.wards.forEach(e => { let t = document.createElement("option"); t.value = e.name, t.innerHTML = e.name, t.setAttribute("data-code", e.code), document.getElementById("wards").appendChild(t) }) }).catch(e => console.log(e)) });</script>