@using Microsoft.AspNetCore.Http
@model IEnumerable<WebLapTop.Models.DonHangCuaToi>

@{
    ViewBag.Title = "Đơn hàng của tôi";
}



<div class="card mt-3 border-warning">
    <h5 class="card-header" style="color:black; text-align:center">
        Đơn hàng của @Context.Session.GetString("_HoVaTen").ToString()
    </h5>     <div class="card-body">
        <div class="row">
            <a class="bg-primary ml-2 text-white">
                Đơn hàng mới <span class="badge badge-light">@Model.Where(m => m.TinhTrang == 0).ToList().Count()</span>
            </a>

            <a class="bg-danger ml-2 text-white" >
                Đơn hàng đã hủy <span class="badge badge-light">@Model.Where(m => m.TinhTrang == 2).ToList().Count()</span>
            </a>

            <a class="bg-success ml-2 text-white" >
                Đã đóng gói <span class="badge badge-light">@Model.Where(m => m.TinhTrang == 3).ToList().Count()</span>
            </a>

            <a class="bg-info ml-2 text-white" >
                Đơn hàng đã nhận <span class="badge badge-light">@Model.Where(m => m.TinhTrang == 9).ToList().Count()</span>
            </a>
        </div>
        <div class="row mt-3">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card">
                        <div class="card-body" style="min-height: 808px; }">
                            <!---->

                            <p><img src="~/images/@item.AnhSanPham" /></p>
                            <p class="card-text">Tên sách :@item.TenSanPham</p>
                            <p class="card-text" style="font-weight:bold; font-family:'Times New Roman'">Ngày đặt hàng :<b>@item.NgayDatHang</b></p>
                            <p class="card-text" style="color:red; font-weight:bold">Đơn giá:@String.Format("{0:N0}", item.DonGia)VNĐ</p>
                            <p class="text-right" style="color:red; font-weight:bold">Tổng tiền:@String.Format("{0:N0}", item.SoLuong * (item.DonGia ))VNĐ</p>
                            <p style="text-align:right; font-weight:bold">Số lượng:@item.SoLuong</p>
                            <hr />
                            <div style="text-align:center">
                                @if (item.TinhTrang == 0)
                                {
                                    <span class="badge badge-info shadow" >Đơn hàng mới</span>
                                }
                                else if (item.TinhTrang == 1)
                                {
                                    <span class="badge badge-success shadow" >Đang xác nhận</span>
                                }
                                else if (item.TinhTrang == 2)
                                {
                                    <span class="badge badge-danger shadow" >Đã hủy</span>
                                }
                                else if (item.TinhTrang == 3)
                                {
                                    <span class="badge badge-warning shadow" >Đang đóng gói</span>
                                }
                                else if (item.TinhTrang == 4)
                                {
                                    <span class="badge badge-warning shadow" >Đang gửi vận chuyển</span>
                                }
                                else if (item.TinhTrang == 5)
                                {
                                    <span class="badge badge-primary shadow" >Đang chuyển</span>
                                }
                                else if (item.TinhTrang == 6)
                                {
                                    <span class="badge badge-danger shadow" >Thất bại</span>
                                }
                                else if (item.TinhTrang == 7)
                                {
                                    <span class="badge badge-warning shadow" >Đang chuyển hoàn</span>
                                }
                                else if (item.TinhTrang == 8)
                                {
                                    <span class="badge badge-success shadow" >Đã chuyển hoàn</span>
                                }
                                else
                                {
                                    <span class="badge badge-primary shadow" >Thành công</span>
                                }
                            </div>
                            <hr />
                            @if (item.TinhTrang == 0)
                            {
                                <a class="btn btn-danger text-white" style="text-align:center" asp-controller="Home" asp-route-id="@item.IdDH" asp-action="CancelOrder">Hủy</a>
                            }
                            <a class="btn btn-primary text-white" style="text-align:center" asp-route-id="@item.IdDH" asp-action="OrderDetail">Chi tiết</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


