@model IEnumerable<WebLapTop.Models.Sanpham>

@{
    ViewData["Title"] = "Sản Phẩm";
}

<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-controller="LapTop" asp-action="Index">Laptop</a></li>
                    <li><a asp-controller="PhuKien" asp-action="Index">Phụ kiện</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Dòng Laptop</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Asus" asp-action="Index">Asus</a>
                        </div>

                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Dell" asp-action="Index">Dell</a>
                        </div>

                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="HP" asp-action="Index">HP</a>
                        </div>

                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Aser" asp-action="Index">Aser</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Apple" asp-action="Index">Apple</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Lenovo" asp-action="Index">Lenovo</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="MSI" asp-action="Index">Laptop MSI</a>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Lọc theo giá bán</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <a asp-controller="" asp-action="Index" style="font-weight:bold">Khoảng 7 - 10 triệu</a>
                    </div>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <a asp-controller="Gia11_15" asp-action="Index" style="font-weight:bold">Khoảng 11 - 15 triệu</a>
                    </div>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <a asp-controller="Gia16_20" asp-action="Index" style="font-weight:bold">Khoảng 16 - 20 triệu</a>
                    </div>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <a asp-controller="" asp-action="" style="font-weight:bold">Khoảng 22 - 25 triệu</a>
                    </div>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <a asp-controller="" asp-action="" style="font-weight:bold">Trên 25 triệu</a>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Phụ kiện</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Chuot" asp-action="Index">Chuột</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="TaiNghe" asp-action="Index">Tai Nghe</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="BanPhim" asp-action="Index">Bàn phím</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Tui" asp-action="Index">Túi chống sốc</a>
                        </div>
                        <div class="input-checkbox">
                            <span></span>
                            <a asp-controller="Ram" asp-action="Index">Ram</a>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Top selling</h3>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/as/img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/as/img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/as/img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">

                    </div>

                </div>
                <!-- /store top filter -->
                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    @foreach (var item in Model)
                    {
                        @if (item.GiaKhuyenMai > 0)
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="~/images/@Html.DisplayFor(modelItem => item.AnhSanPham)" style="max-width:100%" />
                                    </a>
                                    <div class="product-body" style="min-height: 275px;">
                                        <p class="product-category">Số lượng: @item.SoLuong</p>
                                        <h3 style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                            @item.TenSanPham
                                        </h3>
                                        <h5 class="product-old-price"><del class="product-old-price">Giá: @String.Format("{0:N0}", item.GiaBan) VNĐ</del></h5>
                                        <h5 class="product-old-price" style="color:red">Giá KM: @String.Format("{0:N0}", item.GiaKhuyenMai) VNĐ</h5>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <a class="quick-view" asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i><span class="tooltipp"></span></a>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-to-cart-btn" asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i> add to cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <a asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="~/images/@Html.DisplayFor(modelItem => item.AnhSanPham)" style="max-width:100%" />
                                    </a>
                                    <div class="product-body" style="min-height: 275px;">
                                        <p class="product-category">Số lượng: @item.SoLuong</p>
                                        <h3 style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                            @item.TenSanPham
                                        </h3>                                      <h5 class="product-old-price">Giá: @String.Format("{0:N0}", item.GiaBan) VNĐ</h5>
                                        @*                            <h5 class="product-old-price" style="color:red">Giá KM: @String.Format("{0:N0}", item.GiaKhuyenMai) VNĐ</h5>
                                        *@                            <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <a class="quick-view" asp-controller="SanPham" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i><span class="tooltipp"></span></a>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-to-cart-btn" asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i> add to cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- /store products -->
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        @{
                            int numberPage = ViewBag.numberPage;
                            int pageCurrent = ViewBag.pageCurrent;
                            int offset = 2;//number display page


                            //config FirstLink
                            if (pageCurrent > 1)
                            {
                                int prevPage = pageCurrent - 1;
                                var PrevLink = new Dictionary<string, string> { { "page", prevPage.ToString() } };
                                <li class="page-item"><a class="page-link" asp-controller="BanPhim" asp-action="Index" asp-all-route-data="PrevLink">Trước</a></li>
                            }

                            int from = pageCurrent - offset;
                            int to = pageCurrent + offset;
                            if (from <= 0)
                            {
                                from = 1;
                                to = offset * 2;
                            }


                            if (to > numberPage)
                            {
                                to = numberPage;
                            }

                            int i;
                            for (i = from; i <= to; i++)
                            {
                                var parms = new Dictionary<string, string>
                                                                                                                                                                                                        {
                        { "page",i.ToString()}
                    };
                                if (pageCurrent == i)
                                {
                                    <li class="page-item active "><a class="page-link" asp-controller="BanPhim" asp-action="Index" asp-all-route-data="parms">@i</a></li>
                                }
                                else
                                {
                                    <li class="page-item  "><a class="page-link" asp-controller="BanPhim" asp-action="Index" asp-all-route-data="parms">@i</a></li>
                                }

                            }

                            if (pageCurrent < numberPage - (to / 2))
                            {
                                <li><a>...</a></li>
                                var LastLink = new Dictionary<string, string> { { "page", numberPage.ToString() } };
                                <li class="page-item"><a class="page-link" asp-controller="BanPhim" asp-action="Index" asp-all-route-data="LastLink">Cuối</a></li>
                            }

                            if (pageCurrent < numberPage)
                            {
                                int nextPage = pageCurrent + 1;
                                var NextLink = new Dictionary<string, string> { { "page", nextPage.ToString() } };
                                <li class="page-item"><a class="page-link" asp-controller="BanPhim" asp-action="Index" asp-all-route-data="NextLink"><i class="fa fa-angle-right"></i></a></li>
                            }
                        }
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
