@model WebLapTop.Models.Hoadon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hoadon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayXacNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayXacNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdkhachHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdkhachHangNavigation.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdnhanVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdnhanVienNavigation.HoVaTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
