@model WebLapTop.Models.Sanpham

@{
    ViewData["Title"] = "Thêm Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div style="margin:5px;" class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Sanpham" asp-action="Index">Quay về danh sách</a>
            <span class="breadcrumb-item active"> Thêm Sản Phẩm</span>
        </nav>
    </div>
</div>
<div style="margin:5px;" class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm Sản Phẩm</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Nơi Sản Xuất</label>
                            </div>
                            <div class="col-md-8 form-group">
                                @Html.DropDownList("IdnoiSanXuat", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdnoiSanXuat, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label>Dòng Sản Phẩm</label>
                            </div>
                            <div class="col-md-8 form-group">
                                @Html.DropDownList("IddongSanPham", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IddongSanPham, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label>Loại phụ kiện</label>
                            </div>
                            <div class="col-md-8 form-group">
                                @Html.DropDownList("IdloaiPhuKien", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdloaiPhuKien, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                <label>Tên Sản Phẩm</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="TenSanPham" class="form-control" placeholder="Tên Sản Phẩm" />
                            </div>
                            <div class="col-md-3">
                                <label>Ảnh Sản Phẩm</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="file" name="file" multiple />
                            </div>
                            <div class="col-md-3">
                                <label>Giá bán</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="GiaBan" class="form-control" placeholder="Giá bán" />
                            </div>
                            <div class="col-md-3">
                                <label>Giá khuyến mãi</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="GiaKhuyenMai" class="form-control" placeholder="Giá khuyến mãi" />
                            </div>
                            <div class="col-md-3">
                                <label>Ngày bắt đầu khuyến mãi</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="NgayBatDauKhuyenMai" class="form-control" placeholder="Ngày bắt đầu khuyến mãi" />
                            </div>
                            <div class="col-md-3">
                                <label>Ngày kết thúc khuyến mãi</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="NgayKetThucKhuyenMai" class="form-control" placeholder="Ngày kết thúc khuyến mãi" />
                            </div>
                            <div class="col-md-3">
                                <label>Số Lượng</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="SoLuong" class="form-control" placeholder="Số Lượng" />
                            </div>
                            <div class="col-md-3">
                                <label>Mô Tả</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <textarea id="editor" asp-for="MoTa" class="form-control" placeholder="Mô Tả"></textarea>
                            </div>
                            <div class="col-md-3">
                                <label>Bảo Hành</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <textarea asp-for="BaoHanh" class="form-control" placeholder="Bảo Hành"></textarea>
                            </div>
                            <div class="col-sm-11 d-flex justify-content-end">
                                <input type="submit" value="Thêm" class="btn btn-primary" />

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
